* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



/*---------------------------------------------GENERAL-------------------------------*/

#colorBase {
    background-color: rgb(243, 241, 238); 
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 40px;
}

#bo {
    background-color: rgb(36, 167, 243);
    border: none;
      
}

/*------------------------------------------ PAGINA INDEX --------------------------*/

.i-dx{
    
    text-align: center;
    color: beige;
    position: fixed;
    top: 350px;
    left: 550px;
}




    
    



/*------------------------------------------ PAGINA 7DESTINOS --------------------------*/

.alert {
    margin-top: 15px;
    margin-left: -12px;
    height: 80px;
}

#linea {
    margin-top: 30px;
    margin-bottom: 30px;
}

#titu-exp {
    margin-bottom: 30px;
}



/*------------------------------------------ PAGINA EXPERIENCIAS -----------------------*/

#exp-galeria {
    margin: 30px 0px 40px 0px;
}

.rota {
    transform: rotate(-10deg);
}

.rota-1 {
    transform: rotate(10deg);
}

.rota-2 {
    transform: rotate(5deg);
}

#m {
    margin: 20px 0px 20px 0px;
}

#m-1 {
    margin: 20px 0px 10px 0px;
}

.exp3 a {
    background-color: goldenrod;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    padding: 8px;
    margin: 0px 50px 50px 230px;
    text-decoration: none;
    color: beige;
}

#bo:hover {
    background-color: rgb(6, 118, 183);
}

/*------------------------------------------ PAGINA NOSOTROS ---------------------------*/

.gradiente {
    background-image: linear-gradient(to top, white, white, rgb(224, 187, 173), rgb(224, 187, 173));
}

.gradiente h1 {
    font-size: 2.3rem;
    padding: 0px 40px 0px 40px;   
}



/*------------------------------------------ PAGINA CONTACTO ---------------------------*/


