* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*-------------Uso de variables sass-----------*/

$colorBase00:  grey;
$colorBase01:rgb(145, 198, 178);

   #sass04{
         border-top: $colorBase00;
         
    form {
        color: $colorBase00;      
    }
}


    
/*---------------------------uso de map-------------------*/
  $colores-redes: (     
    twitter: rgb(109, 164, 237) ,
    facebook: rgb(22, 111, 229),
    google: rgb(237, 185, 109),
    instagram: rgb(200, 109, 237),
    in:rgb(213, 22, 226) ,
    github: rgb(79, 77, 79) ,
);

@each $red, $color in $colores-redes {
#borde--#{$red} {
border-color: $color;
}
}






                
        
    


     
        

        






